* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    /* Background gradient */

    --soft-violet: hsl(273, 75%, 66%);
    --light-purple: hsl(240, 73%, 65%);

    /* Text */

    --dark-blue: hsl(238, 29%, 16%);
    --soft-orange: hsl(14, 88%, 65%);

    --darker-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* Divider */

    --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(var(--soft-violet), var(--light-purple));
}

/* MAIN */

.faq-container {
    background-color: #fff;
    border-radius: 25px;
    width: 340px;
    display: flex;

    position: relative;
    margin-top: 65px;
}

.faq-container::before {
    display: block;
    content: url("./images/illustration-woman-online-mobile.svg");
    text-align: center;
    top: -105px;
    position: absolute;
    left: -25px;
    right: 0;
}

.faq-container::after {
    display: block;
    content: url("./images/bg-pattern-mobile.svg");
    position: absolute;
    top: 10px;
    left: 50px;
}

.faq-container img.img-desktop {
    display: none;
}

.faq-container h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 40px;
    color: var(--dark-blue);
}

.accordion {
    padding: 20px;
    width: 100%;
}

.accordion > div {
    border-bottom: 1px solid var(--light-grayish-blue);
    margin: 25px auto;
    width: 95%;
}

.accordion__label {
    display: block;
    color: var(--darker-grayish-blue);
    font-size: 14px;
    cursor: pointer;
    position: relative;
    margin: 15px 0;
}

.accordion__label:hover {
    color: var(--soft-orange);
}

.accordion__label::after {
    content: "";
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 0px;
    width: 12px;
    height: 6px;
    background-image: url("./images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .4s;
}

.accordion__content {
    color: var(--dark-grayish-blue);
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
    display: none;
    width: 85%;
}

.accordion__input {
    display: none;
}

.accordion__input:checked ~ .accordion__label {
    font-weight: 700;
    color: var(--dark-blue);
}

.accordion__input:checked ~ .accordion__content {
    display: block;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(.5turn);
}

@media (min-width: 1024px) {

    .faq-container {
        width: min(1000px, 90%);
        position: relative;
        /* overflow: hidden; */
    }

    .faq-container::before,
    .accordion {
        flex: 1;
    }
    
    .faq-container::before {
        display: block;
        position: relative;
        flex: 1;
        content: "";
        top: -50px;
        transform: translateY(50px);
        margin-left: 25px;

        background: url("./images/illustration-woman-online-desktop.svg"), url("./images/bg-pattern-desktop.svg");
        background-size: 470px, 860px;
        background-position: -60px 90px, -448px -204px;
        background-repeat: no-repeat;
    }
    
    .faq-container::after {
        content: url("./images/illustration-box-desktop.svg");
        position: absolute;
        left: -90px;
        top: 280px;
        transform: translateY(-50px);
    }

    .faq-container h1 {
        text-align: left;
        margin-top: 0;
        margin-bottom: 40px;
    }
    
    .accordion {
        padding: 60px;
    }

    .accordion div {
        margin-left: 0;
    }


}